<html>
  <head>
    <title>Turn the lights on</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/static/jquery_functions.js"></script>
  </head>
  <body>
    <form action="switchlight" method="post">
      <h1> Use the switches to turn the lights on/off <h1>
      Light 1
      <label class="switch">
        <input class="lightswitch" id="lightswitch01" type="checkbox" value="1">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 2
      <label class="switch">
        <input class="lightswitch" id="lightswitch02" type="checkbox" value="2">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 3
      <label class="switch">
        <input class="lightswitch" id="lightswitch03" type="checkbox" value="3">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 4
      <label class="switch">
        <input class="lightswitch" id="lightswitch04" type="checkbox" value="4">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 5
      <label class="switch">
        <input class="lightswitch" id="lightswitch05" type="checkbox" value="5">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 6
      <label class="switch">
        <input class="lightswitch" id="lightswitch06" type="checkbox" value="6">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 7
      <label class="switch">
        <input class="lightswitch" id="lightswitch07" type="checkbox" value="7">
        <div class="slider round"></div>
      </label>
      <br>
      <br>
      Light 8
      <label class="switch">
        <input class="lightswitch" id="lightswitch08" type="checkbox" value="8">
        <div class="slider round"></div>
      </label>
    </form>
  </body>
</html>
  
